recursive-include    ckanext/pages/textbox        *
recursive-include    ckanext/pages/theme          *
recursive-include    ckanext/pages/assets         *
recursive-include    ckanext/pages/i18n           *
include              ckanext/pages/config_declaration.yaml
recursive-include    ckanext/pages/migration      *
